.success-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

.succcess-img>img{
    width: 100%;

}
.succes-btn{
    border: none;
    background-color: tomato;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    color: white;
    font-size: 1.4rem;
    padding: 1vmax 2rem;
    width: 30%;
}
@media screen and (max-width:600px) {
    .succes-btn{
        width: 80% !important;

        
    }
    
}
