.resetPasswordHeading{
    text-align: center;
    color: rgba(0, 0,0, 0.678);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom:  1px solid rgba(0,0,0,0.2);
    width: 50%;
    margin: auto;
    margin-top: 1.3rem;
    padding-bottom: 1rem;
    

}

.resetPasswordContainer
{
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231, 231);
    


}
.resetPasswordBox{
    background-color: white;
    width: 25vw;
    height: 50vh;
    box-sizing: border-box;
     overflow: hidden; 

}
.resetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;

}
.resetPasswordForm>div{
   display: flex;
   width: 100%;
   align-items: center;

}

.resetPasswordForm>div>input{
   padding: 1vmax 4vmax;
   padding-right: 1vmax;
   width: 100%;
   box-sizing: border-box;
   border: 1px solid rgba(0, 0,0, 0.678);
   border-radius: 4px;
   outline: none;
   font: 300 1.2rem cursive;

 
 }

 .resetPasswordForm>div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 2.4vmax;
    color: rgba(0, 0,0, 0.678);
  }


.resetPasswordBtn{
    border: none;
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 0.8vmax;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.278);
    font-size: 1.4rem;
}
.resetPasswordBtn:hover{
   background-color: rgb(235, 46, 13);
}

.registerImage>input::file-selector-button{
    cursor: pointer;
    width: 100%;
    border: none;
    z-index: 2;
    height: 3rem;
    border-radius: 10px;
    transition: all 0.5s;

}


@media screen and (max-width:600px) {
    .resetPasswordBox{
        width: 95vw !important;
    }
    
}
@media screen and (max-width:1000px) {
    .resetPasswordBox{
        width: 70vw;
    }
    .resetPasswordHeading{
        width: 90%;
    }
    
}



