.searchBox{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231,231,231);
    position: fixed;

    



}

.searchBox :first-child{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0;
    font: 500 2.1vmax cursive;
    height: 8%;
    box-sizing: border-box;
}
.searchBox :last-child{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: tomato;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 20%;
    outline: none;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    height: 8%;
    box-sizing: border-box;
}
.searchBox :last-child:hover{
    background-color: blue;
    color: white;
}
