.navbar_bg{
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    border-bottom: 5px solid white;

}
.nav-link {
    color: white !important;
    font-size: 1.1rem;
}
.navbar-brand{
    color: white !important;
}
.custom-icons{

    color: tomato;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 1.5rem;
    transition: all 0.1s ease-in;
}
.custom-icons:hover{
    color: red;
    transform: translateY(-15%);
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.speedDail{
    position: fixed;
    right: 1vmax;
    top: 4vmax;
    z-index: 11;

}
.speedDailIcon{
   height: 56px;
   width: 56px;
   border-radius: 10%;
}

@media screen and (max-width:600px) {
    .speedDail{
        top: 10vmax;
    }
    
}

/* ======================================================================================= */
.sale-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.sale-info>p{
    text-align: center;
    padding: 0.6rem 0.3rem;
    color:rgb(233, 74, 12);
}
.main-conatainer{
    padding: 0rem 9rem;
    margin: auto;
    background-color: white;
    width: 100%;
}
/* responsicve css */

.burger-container{

    display: none;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(29,3,93,1) 34%, rgba(48,2,89,1) 88%);
    color: white;
    padding: 0px 10px;
    height: 50px;

}
.resp-icons{
    font-size: 1.8rem;
}

/* top navbar css ======================================== */
.top-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 9rem;
    /* background: linear-gradient(90deg, rgba(29,3,93,1) 34%, rgba(48,2,89,1) 88%); */
    background-color: rgba(220, 220, 220, 0.59);


}

.top-nav-icons{
    
    margin-top: 0.3rem;
    

}

.top-icons{
    margin-right: 1rem;
    font-size: 2rem;
    /* color: rgba(255, 255, 255, 0.949); */
    color: #2f2f95;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.top-icons:last-child{
    margin-right: 0px !important;
}
.top-icons:hover{
    color: #00008B;
    transform: scale(1.2);
    
}

/* middle navbar css========================================*/

.middle-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
}

.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    
    


}
.logoHeading{
    color: #00008bba;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgb(148 164 241 / 80%);
    font-family: inherit;

}
.logo-img{
    width: 100%;
}
.flip-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.middle-section{

    width: 100%;

}
.search-form{
    position: relative;
}
.serch-btn{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 1.7rem;
    padding: 0rem 1.8rem;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(29 3 93 / 86%) 34%, rgb(48 2 89 / 86%) 88%);

}
.serch-input{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    color: #8011e2;
    border-radius: 10px;
    letter-spacing: 1.5px;

    border: 2px solid #00008B;

}
.serch-input::placeholder{
    color: #4f0f87a2;
    font-size: 1rem;
   
}


/* midlle right css */
.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-link{
    text-decoration: none;
    color:#00008B;
    letter-spacing: 1.4px;
    margin: 0px 10px;
    transition: transform 0.2s ease;

}
.auth-link:hover{
    color: blue;
    transform: translateY(-20%);

}
.inner-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.inner-right>div{

      border-radius: 100%;
      color: #00008B;

      background-color: #00008b17;

      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      /* animation-duration: 1s;
      animation-name: fireshadow;
      transition: all 0.5s ease-in-out;
      animation-iteration-count: infinite; */


}
@keyframes fireshadow {
    to{
        box-shadow: 0 0 1px 1px rgba(35, 2, 117, 0.166), 0px 0px 3px 2px rgba(70, 8, 229, 0.396);


    }
    
}
.inner-right>div>p{
    font-size: 0.9rem;
}
.middle-icons{
    font-size: 1.4rem;
    cursor: pointer;
    color: #00008B;
}
.middle-icons:hover{
    color: blue;
}
.middle-icons:hover .inner-right>div>p {
    color: black !important;

}




/* bottom nav bar css===================================== */

.bottom-nav{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    padding: 1rem 0rem;
    background: linear-gradient(90deg, rgb(29, 3, 93) 34%, rgb(93, 5, 170) 88%);
}
.bottom-nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.bottom-nav>ul>li{
    list-style: none;
    transition: transform 0.3s ease;
    
}



.bottom-nav>ul>li>a{
    color: white;
    
    padding: 0.1rem 0.6rem;

    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.2s ease-out;

}
.bottom-nav>ul>li>a:hover{
         /* Increase this as per requirement */
         padding-bottom: 5px;
         border-bottom-style: solid;
         border-bottom-color: rgb(233, 74, 12);
         border-bottom-width: 3.1px;
         width: fit-content;


}
.bottom-nav-li-active{
    padding-bottom: 5px !important;
    border-bottom-style: solid;
    border-bottom-color:rgb(233, 74, 12);
    border-bottom-width: 3.1px;
    width: fit-content;
}
.cancel-icon{
    display: none;
}

.nav-hide{
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
}
.nav-show{
    transform: translateX(0%);
    opacity: 1;
    user-select: auto;

}
.social-responsive-links{
    display: none;
   }
   .bottom-responsive-section{
    display: none;
   }

@media screen and (max-width:900px) {
    .main-conatainer{
        padding:0rem;
     
    }
    
}
@media screen and (max-width:600px) {

    .sale-info>p{
        font-size: 0.7rem !important;
        padding: 0.2rem 0.2rem !important;
    }
    .burger-container{
        display: flex;
        background: linear-gradient(90deg, rgb(17, 2, 55) 34%, rgb(25, 1, 46) 88%);
    }
    
    
    .burger-container>h2{
        text-transform: uppercase;
        color: white;
        font-style: oblique;
        text-shadow: 2px 4px 3px rgb(148 164 241 / 80%);
        font-family: inherit;
    }
    .logoHeading{
        display: none;
    }

    .main-conatainer{
        padding:0rem;
     
    }
    .flip-section{
       flex-direction: column-reverse;
    }
    .middle-nav {
        display: block;
        align-items: center;
       
    }
    .middle-section{
        width: 100%;
        margin: 5px 0px;
    }
    .middle-section>form{
        
        margin: 5px 10px;
    }
    .top-nav{
        display: none;
    }
    .serch-input {
        font-size: 1rem;
    }
    .serch-input::placeholder{
        font-size: 0.8rem;
        opacity: 0.6;
    }
    hr{
        display: none;
    }
    .flip-section{
        margin: 0px 0px;
    }
    .right-section{
        display: none;
    }
    .cancel-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;

        color: white;
        margin: 5px 8px;

    }
    .bottom-nav{

        position: absolute;
        flex-direction: column;
        left: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        background: rgb(24 2 77);
        z-index: 9;
        justify-content: space-evenly;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: transform 0.5s ease-in;

    }
    .bottom-nav>ul{
   
    width: 84%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;

    }
    .bottom-nav>ul>li{
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid whitesmoke;
    }
    .bottom-nav>ul>li>a{
       
        color: white !important;
    }

    .bottom-responsive-section{
        margin-top: 3rem;

    }
    .inner-right{
        margin-top: 1rem;
    }
   .top-nav-icons{
    margin-top: 2rem;
   }
   .social-responsive-links{
    display: block;
   }
   .bottom-responsive-section{
    display: block;
   }
   .auth-link{
    color: white !important;
   }
   .bottom-responsive-section{
    color: white !important;
   }
   .middle-icons{
    color: white !important;
   }
   .inner-right>div{
    color: white !important;
    background-color: slateblue !important;
   }
    
  
    
}



